<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEO</title>
    <!--<link rel="stylesheet" type="text/css" href="{$Think.const.app_path}h5/css/layout.css">-->
    <!--<script src="__JS__/jquery-3.2.1.min.js"></script>-->

    <meta content="text/html;charset=utf-8" http-equiv="CONTENT-TYPE" />
    <!-- 强制让文档与设备的宽度保持1：1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Mobile Device Support @begin -->
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="content-type" />
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta content="0" http-equiv="expires" />
    <!-- 禁止了把数字转化为拨号链接 -->
    <meta name="format-detection" content="telephone=no,address=no">
    <!-- 删除默认的苹果工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 在web app应用下状态条（屏幕顶部条）的颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />


    <!-- 浏览网站时的小图标 -->
    <!--<link rel="shortcut icon" href="http://p.www.xiaomi.com/favicon.ico" type="/image/x-icon">-->
    <!-- 添加至主屏时的图片 -->
    <!--<link rel="apple-touch-icon-precomposed" href="http://a.tbcdn.cn/mw/s/hi/tbtouch/images/touch-icon.png">-->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {load href="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" /}
    {load href="/static/weui-1.1.2/dist/style/weui.css" /}
    {$appId}
    {$timestamp}
    {$nonceStr}
    {$signature}
    <script>
        wx.config({

            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。

            appId: '{$appId}', // 必填，公众号的唯一标识

            timestamp:{$timestamp}, // 必填，生成签名的时间戳

            nonceStr: '{$nonceStr}', // 必填，生成签名的随机串

            signature: '{$signature}',// 必填，签名，见附录1

            jsApiList: ["onMenuShareTimeline"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2

        });
        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

        });
    </script>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing:border-box;
        }
        html,body{
            min-height:100%;
            width:100%;
            max-width:640px;
        }
        li{
            list-style: none;
        }
    </style>
</head>
<body>